doctype html
head
  meta(http-equiv='content-type', content='text/html; charset=UTF-8')
  meta(charset='utf-8')
  title Pokescan.online! The best scanner you ever knew
  meta(name='generator', content='Bootply')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
  link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')

  link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.1/bootstrap-material-design.min.css')

  link(href='stylesheets/styles.css', rel='stylesheet')
// begin template


#loader-wrapper
    #loader
      .loader-section.section-left
      .loader-section.section-right
#main.container-fluid


  #map-canvas
  .row#wrapper
    // Sidebar
    a(href="#menu-toggle" class="btn btn-default" id="menu-toggle")
        i(class="material-icons") menu
    #sidebar-wrapper

      ul.sidebar-nav.header
        #logo-area
          .bg
          span.logo-header Pokescan
          span.logo-header-small pokevision even died!
          #logo
        #search
          input(class="form-control", type="search", placeholder="Scroll to location shorthand", id="example-search-input")

      div.sidebar-fullheight
        ul.sidebar-nav.locations
        ol.sidebar-nav.location-form
          button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#locationModal')
            | Add location

  footer.footer
    div
      a(href='https://goo.gl/forms/MKHgF9jRsp3duvb42' class="alert alert-success") Scans are back online! Feedback welcome!
      .version
        small
          button.btn(type='button', data-toggle='modal', data-target='#contributorsModal') Pokescan 0.4 prealpha

#locationModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(role='document')

    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Add location

      form(action="/locations/" method="post")
        .modal-body
          .panel.panel-danger
            .panel-heading
              h3.panel-title Don't FUCK UP the server
            .panel-body
              | Adding locations is below alpha state. There's no tests, and god help us if what you input is actually invalid. What you put in feeds directly to the database, don't FUCK UP the server.

          .panel.panel-default
            .panel-heading
              h3.panel-title Scanning locations
            .panel-body
              | These locations aren't automatically updated - that will come in a future update.
              | You can perform a scan manually by clicking the arrow next to your location.

          fieldset.form-group.label-floating
            label.control-label(for='focusedInput2') Location
            input#focusedInput2.form-control(name='location', type='text')
            p.help-block In "STREET, CITY, COUNTRY" format. PLEASE GET THIS RIGHT.

          fieldset.form-group.label-floating
            label.control-label(for='focusedInput3') Shorthand
            input#focusedInput3.form-control(name='shorthand', type='text')
            p.help-block One word, something short to call this location.


        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='submit') Add location



#startupModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog(role='document')

    .modal-content

      .modal-header
        a.close(data-dismiss='modal') ×
        h3 Changelog - new version!
      .modal-body
        h2 New in #{pageData.changelogs[0].version}
        ul.list-group
          each item in pageData.changelogs[0].changelog
            li.list-group-item #{item}

      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close

#contributorsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='contributorsModal', aria-hidden='true')
  .modal-dialog(role='document')

    .modal-content

      .modal-header
        a.close(data-dismiss='modal') ×
        h3 Contributors:
      .modal-body
        div.list-group
          a.list-group-item.list-group-item-action.active(href='https://github.com/joaoanes')
            h5.list-group-item-heading João Anes (joaoanes)
            p.list-group-item-text
              | PO and maintainer
          a.list-group-item.list-group-item-action.active(href='https://github.com/tejado/')
            h5.list-group-item-heading (tejado)
            p.list-group-item-text
              | PGOApi on which this project depends on
          a.list-group-item.list-group-item-action.active(href='http://github.com/AHAAAAAAA')
            h5.list-group-item-heading Ahmed Almutawa (AHAAAAAAA)
            p.list-group-item-text
              | Inspiration and I think I stole your pokemon images on the map
          a.list-group-item.list-group-item-action.active(href='http://github.com/PokeAPI')
            h5.list-group-item-heading The PokeAPI project (https://github.com/PokeAPI)
            p.list-group-item-text
              | That's where all the cute images come from!
          a.list-group-item.list-group-item-action.active(href='http://github.com/Misirlou')
            h5.list-group-item-heading Diogo Basto (Misirlou)
            p.list-group-item-text
              | Removed redirects on scan!



      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close


// end template
// script references
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')

script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/tether/1.3.3/js/tether.js')

script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.1/bootstrap-material-design.iife.min.js')

script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyC0hXf145YSG2k7E0YbcSICcoXon7K2wik&extension=.js&output=embed')
script(type='text/javascript', src='//rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js')

script(src='javascripts/pokemap.js')

